<div id="app">
    <h2 class="m-2">Login</h2>

    <form method="post">

        <div class="form-group w-25">
            <input class="mt-4 form-control" v-model="newUser.username" placeholder="Username"> <br />
            <input class="form-control" v-model="newUser.password" placeholder="Password"> <br />
            <label class="text-danger">{{errorMessage}}</label>
        </div>
    </form>
    <button v-on:click="login(newUser)" class="btn btn-info">Login</button>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            token: "",
            errorMessage: "",
            newUser: {
                username: "",
                password: ""
            },
        },
        created: function () {

        },
        methods: {
            login: function () {
                axios
                    .post("https://localhost:5001/api/Auth/login", this.newUser)
                    .catch(error => this.errorMessage = "Username and password combination is not valid.")
                    .then(response => localStorage.setItem('chessMatePassword', response.data.token))

                setTimeout(function () {
                    if (localStorage.chessMatePassword != '') {
                        location.href = '@Url.Action("index", "home")'
                    }
                }, 100);

                }
            },
    });

</script>