<EditForm Model="@Item" OnValidSubmit="@(e => OnSaveClick.InvokeAsync(Item))">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Username: </label>
        <InputText id="name" @bind-Value="Item.Username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="content">First name: </label>
        <InputTextArea id="content" @bind-Value="Item.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="content">Last name: </label>
        <InputTextArea id="content" @bind-Value="Item.LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="content">Email: </label>
        <InputTextArea id="content" @bind-Value="Item.Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-warning" @onclick="OnCancelClick">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public UserItem Item { get; set; }

    [Parameter]
    public EventCallback<UserItem> OnSaveClick { get; set; }
    [Parameter]
    public EventCallback OnCancelClick { get; set; }
}